.container {
  background-color: #e6e6e6;
}

.vertical-range-container {
  display: inline-block;
  height: 180px;
  width: auto;
  vertical-align: top;
}

.header {
  box-sizing: content-box;
  margin: 0 auto;
  height: auto;
  padding: 10px;
  text-align: center;
}

.title {
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

.canvas {
  height: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.root {
  border: 1px solid black;
  box-shadow: 3px 3px 5px #999;
  margin: 0 auto;
}

.control-header {
  font-family: 'Lobster', cursive;
  margin-top: 0;
  margin-bottom: 10px;
}

.controls-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 7px;
  background-color: grey;
  padding: 20px;
}

.flow-controls {
  width: 550px;
  height: 310px;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 7px;
  padding: 10px;
  margin-right: 50px;
}

.instructions-flow-controls {
  width: 550px;
  height: 570px;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 7px;
  padding: 10px 20px;
  margin-right: 50px;
}

.flow-control-slider {
  padding-top: 5px;
  display: inline-block;
  -webkit-appearance: none;
  background: #ccc;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
}

.flow-control-slider:focus {
  outline: none;
}

.flow-control-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.flow-control-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.value-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 10px;
}

.flow-control-value {
  display: inline;
  width: 50px;
  font-size: 14px;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}

.label-box {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}

.control-label {
  font-size: 20px;
  float: right;
  font-family: 'Raleway', sans-serif;
}

.tracer-box {
  margin-top: 7px;
}

.tracer-check {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.button-row {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 20px auto;
  width: 340px;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.button {
  width: 150px;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  background-color: #FF8000;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 7px;
  background-color: #b3ffba;
  cursor: pointer;
  box-shadow: 0px 3px 5px #999;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background-color: #66ff75;
  transform: scale(1.08);
  box-shadow: 0px 6px 15px #999;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button:focus {
  outline: none;
}

.shapes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.shape {
  width: 70px;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 10px auto;
  background-color: #3071a9;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #999;
  transition: all 50ms ease-in-out;
}

.shape:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 15px #999;
}

.selectedShape {
  background-color: #3047ab;
}

.instructions {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-left: 3px;
}

.control-descriptions {
  list-style: none;
  padding-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.img {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-right: 3px;
}

.a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.a:hover {
  border-bottom: 1px solid black;
}

li {
  margin-bottom: 7px;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

.instructions-container {
  margin: 0 auto 0 auto;
}

.button-row2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 20px auto;
    width: 400px;
}

.error {
  color: red;
  text-align: center;
  display: none;
}

.error-show {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}
